:root {
  --cc-color-dark: #231f40;
  --cc-grey: #4f5969;
  --cc-white-off: #fef6f3;
  --cc-white-sugar: #f5f5f5;
  --color-main-light: #a0a4e9;
  --cc-white: #ffffff;
  --cc-primary: #525fe1;
  --cc-primary-bg: #525fe1;
  --cc-bg-dark: #231f40;
  --cc-distinct-dark: #f86f03;
  --cc-distinct: #ffa04d;
  --cc-distinct-light: #f8ba92;
}
